@media all and (max-width: 2560px) {
}
@media all and (max-width: 1440px) {
}

@media all and (max-width: 1025px) {
}

@media all and (max-width: 769px) {
}

@media all and (max-width: 426px) {
	.home {
		text-overflow: none;
	}
}

@media all and (max-width: 376px) {
	.navbar__list {
		display: none;
	}

	.nav-container {
		display: block;
	}

	.skills {
		width: 80%;
	}

	.skills-bar .bar .progress-line {
		width: 220px;
	}

	.social_items {
		padding: 5px;
		width: 25%;
	}

	.header__title_img {
		margin: 15% 0;
		width: 80%;
	}

	.header__title_name {
		font-size: 20px;
	}

	.header__title_desc {
		font-size: 14px;
	}

	.header__title_icons {
		width: 60%;
	}

	.block_title_name {
		font-size: 28px;
	}
	.block_title_desk {
		font-size: 16px;
	}

	.profile__block {
		flex-direction: column;
		width: 100%;
	}

	.profile__block_left {
		margin: auto;
		width: 80%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.profile__block_center {
		margin: auto;
		width: 80%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.profile__block_right {
		margin: auto;
		width: 80%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

@media all and (max-width: 321px) {
	.navbar__list {
		display: none;
	}

	.nav-container {
		display: block;
	}

	.skills {
		width: 80%;
	}

	.skills-bar .bar .progress-line {
		width: 200px;
	}

	.social_items {
		padding: 5px;
		width: 25%;
	}

	.header__title_img {
		margin: 15% 0;
		width: 80%;
	}

	.header__title_name {
		font-size: 16px;
	}

	.header__title_desc {
		font-size: 10px;
	}

	.header__title_icons {
		width: 60%;
	}

	.block_title_name {
		font-size: 28px;
	}
	.block_title_desk {
		font-size: 16px;
	}

	.profile__block {
		flex-direction: column;
		width: 100%;
	}

	.profile__block_left {
		margin: auto;
		width: 80%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.profile__block_center {
		margin: auto;
		width: 80%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.profile__block_right {
		margin: auto;
		width: 80%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
